body {
	font-family: Helvetica;
	color:#00FFFF;
}

h1 {
background-color:#00ACE6;
color: #00FFFF;
font-size: 7.0rem;
font-family: Helvetica;
font-weight: normal;
}

div {
background-color:#E6FFFF;
}
.animal{
	color: black ;
	font-size: 1.0rem;
}